@import 'type.css';

body {
  max-width: 40em;
  margin: 0 auto;
  padding: 5px;
  font-size: 20px;
  line-height: 30px;
  background-color: #fff;
  color: #000
}

*{font-family: 'Inter', Helvetica, sans-serif;
  }

/* Grid controls */

#homepage.imggallery{
  gap: 0px;
  grid-template-columns: 
    repeat(auto-fit, minmax(150px, 1fr));
}


.parent{
  font-weight: 700;
  font-size: x-large;
}
.parent:hover{
cursor: pointer;
}
/* .parent:hover div{
  width: 150px;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.5;
} */

.imgcap{
  text-align: center;
  font-size: small;
  padding-bottom: 1.5em;
}
/* .tilefloater{

  font-family: 'Inter';
  font-size: large;
  line-height: 2.5em;
  padding: 5px 25px 5px 25px;
  background-color: #fcfdb350;
  border-radius: 20px; 
}*/

.resume{
  /* margin: 0 auto; */
  padding: 5px 25px 5px 25px;
  max-width: 60ch;
  line-height: 1.4;
  font-size:medium;
  margin: auto;
  font-weight: 500;
}
h1{
  font-weight: 900;
}
h2{
  font-weight: 600;
  line-height: 1.5em;
}

p.intro{
    text-align: left;
    max-width: auto;
    font-size: large;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 1.6em;
    
  }
p.footer{
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    color: rgb(41, 41, 41);
    line-height: 1.5em;
}
p.contact{    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 200px;
    border: 2px solid #dd8500;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
  }
.contact:hover{background-color: #fcfdb350;}
a:link {color: rgb(0, 95, 139);
    text-decoration: none;
    font-weight: 700;
  }
a:visited{
  color: rgb(0, 95, 139);
}
/* a:hover{
  background-color: #fcfdb350;
} */

.header {
  margin-top: 1em;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;
  border: .1rem solid #bfbfbf;

}

td {
  display: table-cell;
  vertical-align: inherit;
  unicode-bidi: isolate;
  padding: .3rem .6rem 0;
  border-bottom: .1rem solid #bfbfbf;

}

tr {
  display: table-row;
  vertical-align: inherit;
  unicode-bidi: isolate;
  border-color: inherit;

}

th {
  font-weight: 600;
  padding: .3rem .6rem 0;
  border-bottom: .1rem solid #000;
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
  unicode-bidi: isolate;
}

thead {
  background-color: #eee;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;

}

/*
table {
    width: 100%;
    border-collapse: separate;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
  }

td {
    height: 30px;
    text-align: center;
    font-size: large;
  }
*/

.total{
    font-weight: bold;
    text-align: right;
    width: 150px;
  }
#grandtotal {
    font-weight: bold;
    font-size: x-large;
    text-align: right;
    vertical-align: bottom;
    border-bottom: 2px solid rgb(180, 0, 0);
  }
#totalccf {
  font-weight: bold;
  color: rgb(100, 100, 100);
  font-size: large;
  text-align: right;
  border-bottom: 1px solid rgb(180, 0, 0);
}
input {
  /* width: 30%; */
  padding: 4px 4px;
  margin: 8px 0;
  font-size: medium;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgb(126, 126, 126);
  }
input:hover {background-color: #fcfdb350;}
input:focus{background-color: #fcfdb350;}
.surf{
  text-align: right;
  /* height: 25px; */
  border: 0;
  font-size: large;
  }

.tblecntxt{
  text-align: center;
  font-size: medium;
  height: 20px;
  border: 0;
  /* padding-right: 60px; */
  color: rgb(180, 0, 0);
  letter-spacing: 0.02em;
  line-height: 1.3em;
  }
/* .grandtext{
  text-align: right;
  font-size: medium;
  height: 30px;
  border: 0;
  padding-right: 60px; 
  color: rgb(180, 0, 0);
  letter-spacing: 0.05em;
  line-height: 1.2em;
  } */

.button {
  background-color: white;
  border: 2px solid #dd8500;
  border-radius: 8px;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  /* display: inline-flex; */
  float:none;
  vertical-align: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 17px;
  cursor:pointer;
}
.button:hover{
  background-color: #fcfdb350;
}
.pointer{
  text-align: right;
  font-size: 3em;
}




/* Column widths */
.col66{
  width: 66%;
  padding: 0 2%;
  display: inline-block;
  vertical-align: top;
}
.col50{
  width: 49%;
  padding: 0 2%;
  display: inline;
  vertical-align: top;
}
.col33{
  width: 33%;
  padding: 0 2%;
  display: inline-block;
  vertical-align: top;
}
.col25{
  width: 25%;
  padding: 5% 2%;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  line-height: 20px;
}
.col100{
  width: 100%;
  padding: 5% 0 5%;
  z-index: 1;
  vertical-align: top;
}

.col1 {
  float:left; 
  width:50%;
  margin-right: 20px;
}

.col2 {
  float:left; 
  width:50%; 
  margin-left: 20px;
}