/* Clean up unused fonts */

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 100;
    font-display: swap;
    src: url("Fonts/Inter/Inter-Thin.woff2") format("woff2"),
         url("Fonts/Inter/Inter-Thin.woff") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 100;
    font-display: swap;
    src: url("Fonts/Inter/Inter-ThinItalic.woff2") format("woff2"),
         url("Fonts/Inter/Inter-ThinItalic.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 200;
    font-display: swap;
    src: url("Fonts/Inter/Inter-ExtraLight.woff2") format("woff2"),
         url("Fonts/Inter/Inter-ExtraLight.woff") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 200;
    font-display: swap;
    src: url("Fonts/Inter/Inter-ExtraLightItalic.woff2") format("woff2"),
         url("Fonts/Inter/Inter-ExtraLightItalic.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 300;
    font-display: swap;
    src: url("Fonts/Inter/Inter-Light.woff2") format("woff2"),
         url("Fonts/Inter/Inter-Light.woff") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 300;
    font-display: swap;
    src: url("Fonts/Inter/Inter-LightItalic.woff2") format("woff2"),
         url("Fonts/Inter/Inter-LightItalic.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("Fonts/Inter/Inter-Regular.woff2") format("woff2"),
         url("Fonts/Inter/Inter-Regular.woff") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 400;
    font-display: swap;
    src: url("Fonts/Inter/Inter-Italic.woff2") format("woff2"),
         url("Fonts/Inter/Inter-Italic.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("Fonts/Inter/Inter-Medium.woff2") format("woff2"),
         url("Fonts/Inter/Inter-Medium.woff") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 500;
    font-display: swap;
    src: url("Fonts/Inter/Inter-MediumItalic.woff2") format("woff2"),
         url("Fonts/Inter/Inter-MediumItalic.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("Fonts/Inter/Inter-SemiBold.woff2") format("woff2"),
         url("Fonts/Inter/Inter-SemiBold.woff") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 600;
    font-display: swap;
    src: url("Fonts/Inter/Inter-SemiBoldItalic.woff2") format("woff2"),
         url("Fonts/Inter/Inter-SemiBoldItalic.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("Fonts/Inter/Inter-Bold.woff2") format("woff2"),
         url("Fonts/Inter/Inter-Bold.woff") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 700;
    font-display: swap;
    src: url("Fonts/Inter/Inter-BoldItalic.woff2") format("woff2"),
         url("Fonts/Inter/Inter-BoldItalic.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 800;
    font-display: swap;
    src: url("Fonts/Inter/Inter-ExtraBold.woff2") format("woff2"),
         url("Fonts/Inter/Inter-ExtraBold.woff") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 800;
    font-display: swap;
    src: url("Fonts/Inter/Inter-ExtraBoldItalic.woff2") format("woff2"),
         url("Fonts/Inter/Inter-ExtraBoldItalic.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("Fonts/Inter/Inter-Black.woff2") format("woff2"),
         url("Fonts/Inter/Inter-Black.woff") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 900;
    font-display: swap;
    src: url("Fonts/Inter/Inter-BlackItalic.woff2") format("woff2"),
         url("Fonts/Inter/Inter-BlackItalic.woff") format("woff");
  }
  

/* make sure the actual path to the font file is correct, fix if needed */


@font-face {
  font-family: 'Dolph';
  src: url('Fonts/Dolph/Dolph_v02-Light.woff2') format('woff2'),
     url('Fonts/Dolph/Dolph_v02-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  }
  
  @font-face {
  font-family: 'Dolph';
  src: url('Fonts/Dolph/Dolph_v02-Regular.woff2') format('woff2'),
     url('Fonts/Dolph/Dolph_v02-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  }
  
  @font-face {
  font-family: 'Dolph';
  src: url('Fonts/Dolph/Dolph_v02-Medium.woff2') format('woff2'),
     url('Fonts/Dolph/Dolph_v02-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  }
  
  @font-face {
  font-family: 'Dolph';
  src: url('Fonts/Dolph/Dolph_v02-Bold.woff2') format('woff2'),
     url('Fonts/Dolph/Dolph_v02-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  }
  
  @font-face {
  font-family: 'Dolph';
  src: url('Fonts/Dolph/Dolph_v02-Light-Italic.woff2') format('woff2'),
     url('Fonts/Dolph/Dolph_v02-Light-Italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  }

  @font-face {
    font-family: 'JetBrains Mono';
    src: url('Fonts/JetBrainsMono/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: inherit;
    font-style: normal;
    }
  
  .dolph-light {
  font-family: 'Dolph';
  font-weight: 300;
  font-style: normal;
  }
  
  .dolph-regular {
  font-family: 'Dolph';
  font-weight: 400;
  font-style: normal;
  }
  
  .dolph-medium {
  font-family: 'Dolph';
  font-weight: 500;
  font-style: normal;
  }
  
  .dolph-bold {
  font-family: 'Dolph';
  font-weight: 700;
  font-style: normal;
  }
  
  .dolph-light-italic {
  font-family: 'Dolph';
  font-weight: 300;
  font-style: italic;
  }
  